@media print {
  .no-print {
    display: none !important;
  }

  body {
    background: #fff !important;
  }

  .card {
    border: none !important;
    box-shadow: none !important;
  }

  @page {
    size: A4;
    margin: 12mm;
  }

  
}
