/* Desktop Layout */

.landing-content {

    margin-left: 260px;

    width: calc(100% - 260px);

}


/* Tablet and Mobile Layout */

@media (max-width: 992px) {

    .landing-content {

        margin-left: 0;

        width: 100%;

        padding-top: 70px;

    }

}